---
import { Icon } from '@astrojs/starlight/components';
// import json from '/public/json/notice/notice1.json';

// const 
---

<nav  class="floating-nav js-floating-nav">
  <div class="nav-outer">
    <div class="nextBtnWrap">
      <button id="nextBtn"><Icon name="right-arrow" /></button>
    </div>
    <div class="prevBtnWrap">
      <button id="prevBtn"><Icon name="left-arrow" /></button>
    </div>
    <div id="js-slide" class="navWrap"></div>
    <div class="navBtnWrap">
      <button id="navBtn"><Icon name="information" /></button>
    </div>
  </div>
</nav>