/* Dark mode colors. */
:root {
	--sl-color-accent: #EE827C;
  --sl-color-text-accent: #EE827C;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent: #EE827C;
  --sl-color-text-accent: #EE827C;
}

h1#_top {
  font-size: 3.2rem;
}
.section-wrap {
  padding-top: 6rem;
}

/* 3column layout */
.col3-wrap {
  column-count: 1;
}
@media (min-width: 50rem) {
  .col3-wrap {
    column-count: 3;
  } 
}