/* Dark mode colors. */
:root {
	--sl-color-accent: #EE827C;
  --sl-color-text-accent: #EE827C;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent: #EE827C;
  --sl-color-text-accent: #EE827C;
}

h1#_top {
  font-size: 3.2rem;
}

#top-index h2 {
  padding: 0.5em 0.3em;
  margin-bottom: 0.3em;
  position: relative;
}
#top-index h2::before {
  content: '';
  background-color: #EE827C;
  width: 2em;
  height: 3px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-wrap {
  padding-top: 6rem;
}

/* 3column layout */
.col3-wrap {
  column-count: 1;
}
.col3-wrap .col {
  break-inside:avoid;
}
.col3-wrap .col a {
  text-decoration: none;
  color: black;
}
.col3-wrap .col a:hover {
  opacity: 0.7;
}
.col3-wrap .col .name {
  display: inline-block;
  font-weight: bold;
  line-height: 1.3;
  margin-top: 0.6rem;
}
@media (min-width: 50rem) {
  .col3-wrap {
    column-count: 3;
  }
}

span.label {
  display: inline-block;
  min-width: 3rem;
  font-size: 0.7rem;
  font-weight: bold;
  text-align: center;
  margin-right: 0.5rem;
  padding: 0 0.2rem;
  border-radius: 4px;
  border: 2px solid #EE827C;
}